$colors: (
  projectsBG: #dae1ed,
  headerBG: #385077,
  footerBG: #9db5db,
  navLink: white,
  navLinkHover: #ef4343,
  buttonBG: #3c70c4,
  button: white,
  highlight: #1a2f51,
  imgBorder: black
);

$smallFontSize: 16px;
